@using SuperHero.Data.Models;

@model SearchResultModel

@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label for="Query">Look for a hero or villain</label>
        <input type="text" class="form-control" id="Query" name="Query" placeholder="Enter a name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}

@if (Model?.Results != null && Model.Results.Any())
{
    <h1>Characters found</h1>
    <div class="d-flex flex-wrap">
        @foreach (var character in Model.Results)
        {
            <div class="card" style="width: 25%;">
                <img class="card-img-top" src="@character.Image.Url" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@character.Name</h5>
                    <p class="card-text">@character.Biography.FullName</p>
                    <a href="/character/@character.Id" class="btn btn-primary">Discover</a>
                </div>
            </div>
        }
    </div>
} 