<div class="my-5">
    <div class="row">
        <div class="col-12">
            <div class="w-100 mb-4">
                <div class="d-flex justify-content-around">
                    <a href="/"><img class="img-fluid" src="~/Content/Images/sys-err.png" /></a>
                </div>
            </div>
        </div>
    </div>
</div>